<!Doctype HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css?q={{time}}"/>
    <link rel="">
    <title>Flavor</title>
</head>
    <body>
        <nav class="navbar navbar-light navBars">
            <a href="/" class="">
                <span class="ai-element__label" style="color:white; font-size: 50px">flavor</span>
            </a>
            {% block navbar %} {% endblock %}
        </nav>

        {% block content %}

        {% endblock %}

        <div class="footer">
            <p>© 2020 Design and content by  <a style="color:white" href="mailto:liangel421@gmail.com">Angel Li</a>.<br></p>
        </div>
        <script src="/static/js/autocomplete.js"></script>
    </body>
</html>
